### Creating Fundamental Frequency dataset

In [ ]:
from __future__ import print_function
import librosa, librosa.display
import numpy as np
import datetime
from scipy.io.wavfile import read
import scipy.io.wavfile as wav
import scipy, sklearn
import numpy
import matplotlib.pyplot as plt
import IPython.display as ipd
import librosa, librosa.display
import pandas as pd

In [9]:
def freq_comp(dr):
    drlist=os.listdir(dr)
    music=[]
    ext=[".wav",".mp3"]
    for i in drlist:
        if i[-4:] in ext:
            music.append(i)
    all_song=[]
    lendata=[]
    for j in range(len(music)):
        x, sr = librosa.load(dr+music[j])
        X = scipy.fft(x[:4096])
        X_mag = numpy.absolute(X)
        f = numpy.linspace(0, sr, 4096)
        X_mag1=X_mag.copy()
        X_mag1.sort()
        temp=np.unique(X_mag1[::-1][:100])
        temp=temp[::-1]
        #print("%0.1f"%f[X_mag.tolist().index(temp[0])])
        #print(X_mag[temp[0]])
        freq_data=[]      # Contains range of voice fundamental frequncies for each Train Song
        
        for itr in range(len(temp)):
            if float("%0.1f"%f[X_mag.tolist().index(temp[itr])])>80:
                freq_data.append(float("%0.1f"%f[X_mag.tolist().index(temp[itr])]))
        lendata.append(len(freq_data))  
        all_song.append(freq_data)
    return all_song,lendata,music

In [10]:
dr="D:/As Freelancer/Projects/Speaker Recognition/wave/TRAIN/"
all_song,lendata,music=freq_comp(dr)
name=[]
for i in music:
    name.append(i[:-6].strip('-'))
mean_len=int(np.array(lendata).mean())
print("Actual Length Data: ",lendata)
print("Mean Length: ",mean_len)
currlen=[]
for i in range(len(all_song)):
    if len(all_song[i])>mean_len:
        all_song[i]=all_song[i][:mean_len]
    elif len(all_song[i])<mean_len:
        diff=mean_len-len(all_song[i])
        for ins in range(diff):
            all_song[i].append(min(all_song[i]))
    currlen.append(len(all_song[i]))
print("Modified Length Data: ",currlen)

Actual Length Data:  [64, 64, 73, 71, 59, 72, 63, 65, 72, 69, 73, 71, 59, 72, 63, 65, 72, 69, 72, 72, 73, 68, 73, 73, 70, 70, 68, 69, 73, 68, 73, 73, 70, 70, 68, 69, 67, 67, 66, 63, 66, 70, 75, 73, 76, 65, 66, 63, 66, 70, 75, 73, 76, 65, 69, 69, 60, 60, 66, 71, 65, 72, 70, 68, 60, 60, 66, 71, 65, 72, 70, 68, 55, 55, 73, 71, 58, 72, 64, 67, 62, 67, 73, 71, 58, 72, 64, 67, 62, 67, 71, 71, 65, 65, 69, 81, 65, 69, 64, 72, 65, 65, 69, 81, 65, 69, 64, 72, 72, 72, 64, 62, 67, 71, 63, 61, 71, 66, 64, 62, 67, 71, 63, 61, 71, 66, 59, 59, 65, 70, 70, 63, 66, 68, 67, 68, 65, 70, 70, 63, 66, 68, 67, 68]
Mean Length:  67
Modified Length Data:  [67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67, 67]

#### Dataset Preparation

In [11]:
import pandas as pd
all_song_data=np.array(all_song).T
print(len(all_song_data))
print(len(all_song))
dct={
    "F{}".format(k+1):all_song_data[k]
    for k in range(len(all_song_data))
}
print()
Freq_data=pd.DataFrame(dct)
Freq_data['Artist']=name
Freq_data.head()

67
144

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F59,F60,F61,F62,F63,F64,F65,F66,F67,Artist
0,247.7,253.1,242.3,258.5,22006.9,236.9,263.8,21829.2,226.2,495.4,...,21759.2,312.3,21743.1,463.1,301.5,21753.8,80.8,80.8,80.8,Arijit Singh
1,247.7,253.1,242.3,258.5,22006.9,236.9,263.8,21829.2,226.2,495.4,...,21759.2,312.3,21743.1,463.1,301.5,21753.8,80.8,80.8,80.8,Arijit Singh
2,113.1,220.8,21807.7,247.7,204.6,107.7,21947.7,21953.1,102.3,96.9,...,4038.5,18016.9,3828.5,18226.9,4000.8,4130.0,3866.2,3936.2,18119.2,Arijit Singh
3,21586.9,468.5,231.5,463.1,236.9,700.0,457.7,931.5,21123.8,689.2,...,527.7,269.2,21786.2,21888.5,166.9,21576.2,479.2,1157.7,20897.7,Arijit Singh
4,199.2,21861.5,193.8,21662.3,393.1,129.2,188.5,210.0,387.7,215.4,...,436.2,96.9,96.9,96.9,96.9,96.9,96.9,96.9,96.9,Arijit Singh

#### Artist Code Generation

In [12]:
art=np.unique(np.array(name))
art_code=[i+1 for i in range(len(art))]
print(art_code)
art_code_all=[]
art1=list(art)
for i in name:
    if i in art:
        art_code_all.append(art_code[art1.index(i)])
print(art_code_all)
#print(len(name))
#print(len(art_code_all))

[1, 2, 3, 4, 5, 6, 7, 8]
[1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8]

#### Storing Dataset with Artist Code

In [13]:
Freq_data['Artist']=art_code_all
Freq_data.head()

,F1,F2,F3,F4,F5,F6,F7,F8,F9,F10,...,F59,F60,F61,F62,F63,F64,F65,F66,F67,Artist
0,247.7,253.1,242.3,258.5,22006.9,236.9,263.8,21829.2,226.2,495.4,...,21759.2,312.3,21743.1,463.1,301.5,21753.8,80.8,80.8,80.8,1
1,247.7,253.1,242.3,258.5,22006.9,236.9,263.8,21829.2,226.2,495.4,...,21759.2,312.3,21743.1,463.1,301.5,21753.8,80.8,80.8,80.8,1
2,113.1,220.8,21807.7,247.7,204.6,107.7,21947.7,21953.1,102.3,96.9,...,4038.5,18016.9,3828.5,18226.9,4000.8,4130.0,3866.2,3936.2,18119.2,1
3,21586.9,468.5,231.5,463.1,236.9,700.0,457.7,931.5,21123.8,689.2,...,527.7,269.2,21786.2,21888.5,166.9,21576.2,479.2,1157.7,20897.7,1
4,199.2,21861.5,193.8,21662.3,393.1,129.2,188.5,210.0,387.7,215.4,...,436.2,96.9,96.9,96.9,96.9,96.9,96.9,96.9,96.9,1

In [14]:
X=Freq_data.drop('Artist',axis=1)
y=Freq_data['Artist']
from sklearn.model_selection import train_test_split
X1, X2, y1, y2 = train_test_split(X, y, test_size=0.0005, random_state=6)

In [15]:
X1['Artist']=y1
Freq_data=X1

c:\users\comp\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
Freq_data.to_csv(dr+'Artist_Freq.csv')